@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0d1936;
  --secondary-color: #535354;
  --background-color: #efefef;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --white-color: #fff;
  --black-color: #000;
  --input-border-color: #e3e4e6;
  --transition-3s: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

.wrapper {
  position: relative;
  background-color: var(--white-color);
  height: 500px;
  width: 430px;
  padding: 120px 32px 64px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 8px 15px var(--shadow-color);
  transition: var(--transition-3s);
}

.form-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 70px;
  background-color: var(--primary-color);
  border-radius: 0 0 20px 20px;
}

.form-header::before,
.form-header::after {
  content: "";
  width: 30px;
  height: 30px;
}

.form-header::before {
  position: absolute;
  top: 0;
  left: -30px;
  border-top-right-radius: 50%;
  box-shadow: 15px 0 0 var(--primary-color);
}

.form-header::after {
  position: absolute;
  top: 0;
  right: -30px;
  border-top-left-radius: 50%;
  box-shadow: -15px 0 0 var(--primary-color);
}
